$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

$orangeColour: #f36f3b;
$blueColour: #35454c;
$whiteColour: #fff;

@mixin defaultSmallText {
	color: $blueColour;
	letter-spacing: 1px;
	font-weight: 200;
}

#assets h1 {
	margin: 30px;
	letter-spacing: 5px;
}

.table {
	@include defaultSmallText;
	margin-top: 30px;

	tbody > tr > td.asset-data {
		line-height: 2.428571;
	}
}

.capitalise {
   text-transform: capitalize;
}

#asset-controls {
	@include defaultSmallText;
}

	#new-asset-button {
		@include defaultSmallText;
		margin-left: 20px;
		background-color: $orangeColour;

		a{
			color: $whiteColour;
			text-decoration: none;
		}

		a:hover,
		a:focus {
			color: $blueColour;
		}
	}

.asset-table {
	th {
		@include defaultSmallText;
	}

	.asset-data {
		@include defaultSmallText;
	}
}
