$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

$orangeColour: #f36f3b;
$blueColour: #192B33;
$whiteColour: #fff;

#asset-button {
  margin-top: 20px;
  background-color: $blueColour;
  color: $whiteColour;
  font-size: 20px;
  height: 60px;
  width: 170px;

  a{
    color: $whiteColour;
  }

  a:hover,
  a:focus {
    color: $orangeColour;
    text-decoration: none;
  }
}

#jumbotron-message {
  background-color: $blueColour;
  opacity: 0.8;
}