$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

$orangeColour: #f36f3b;
$blueColour: #35454c;
$whiteColour: #fff;

@mixin defaultText {
  letter-spacing: 2px;
  font-weight: 200;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

.navbar, .navbar-brand, .navbar-collapse {
  height: 110px;
} 
.navbar-default {
  background-color: $blueColour;
  border: none;
  border-radius: 0;
}

.navbar-brand {
  img {
    height: 100%;
  }
}

.navbar-nav {
  margin: 30px 0;
  
  .dropdown-toggle {
    span {
      @include defaultText;
      font-size: 20px;
      color: $whiteColour;
    }
    span.text {
        position: absolute;
        top: 50%;
        margin-top: -14px;
        right: 70px;
      }

    span.glyphicon {
        font-size: 30px;
      }
  }

    .dropdown-menu > li > a {
      @include defaultText;
      line-height: 3.428571;
      color: $whiteColour;
      font-size: 20px;
      padding-left: 75px;
      border-bottom: 1px solid $blueColour;
      width: 80%;
      margin: auto;
    }   

    .dropdown-menu > .active > a, 
    .dropdown-menu > .active > a:hover, 
    .dropdown-menu > .active > a:focus {
      color: $blueColour;
      background-color: $orangeColour;
      font-size: 25px;
      font-weight: 400;
    }

    .dropdown-menu > li > a:hover, 
    .dropdown-menu > li > a:focus {
        text-decoration: none;
        color: $blueColour;
        background-color: $orangeColour;
    }
}

.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    background-color: $blueColour;
}

.navbar-nav > li > .dropdown-menu {
  margin-top: -100px;
  height: 102vh;
  width: 30vw;
  right: -150px;
  border-radius: 0;
  background-color: $orangeColour;
}

.not-working {
  text-decoration: line-through;
}
